<!DOCTYPE html>
<html>
<head>
  <title>Shortlink - <%= current_user.slug%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= render 'layouts/partial/favicons'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <%= render "layouts/new_design/menu"%>
  <div class="main-panel">
  <%= render "layouts/new_design/navbar_header"%>


        <div class="content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
  </div>        
</div>
  
  <% unless Rails.env.development? %>
    <%= render "layouts/partial/footer"%>
  <% end%>
  <div class="create_new_url">
    <button type="button" class="btn btn-success btn-circle btn-lg" data-toggle="modal" data-target="#createUrl"><i class="glyphicon glyphicon-link"></i></button>
    <%= render "layouts/partial/new_url_modal"%>
  </div>
<footer class="text-center">Build with <i class="fa fa-heart"></i> and <i class="fa fa-diamond"></i><a href="http://zainalmustofa.github.io"><strong> zainalmustofa</strong></a></footer>
<%= javascript_include_tag "waitMe.min" %>
</body>
</html>