<!DOCTYPE html>
<html>
<head>
  <title>Shortlink - <%= current_user.slug%></title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= render 'layouts/partial/favicons'%>
  <%= csrf_meta_tags %>
</head>
<body class="waitMe_body">
  <%= render "layouts/partial/header"%>
  <div class="container">
    <%= render "layouts/partial/flash_message", flash: flash %>  
  </div>
  <div class="container">
    <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/partial/menu"%>
    </div>
    <%= yield %>
    </div>
  </div>
  
  <% unless Rails.env.development? %>
    <%= render "layouts/partial/footer"%>
  <% end%>
  <div class="create_new_url">
    <button type="button" class="btn btn-success btn-circle btn-lg" data-toggle="modal" data-target="#createUrl"><i class="glyphicon glyphicon-link"></i></button>
    <%= render "layouts/partial/new_url_modal"%>
  </div>
<footer class="text-center">Build with <i class="fa fa-heart"></i> and <i class="fa fa-diamond"></i><a href="http://zainalmustofa.github.io"><strong> zainalmustofa</strong></a></footer>
<%= javascript_include_tag "waitMe.min" %>
</body>
</html>