<!DOCTYPE html>
<html>
<head>
  <title>Shortlink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= flash_messages %>  
  </div>

  <%= render "layouts/partial/header"%>
  <div class="container">
    <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/partial/menu"%>
    </div>
    <%= yield %>
    </div>
  </div>
<footer class="text-center">Build with <i class="fa fa-heart"></i> and <i class="fa fa-diamond"></i><a href="http://zainalmustofa.github.io"><strong> zainalmustofa</strong></a></footer>
</body>
</html>
