<!DOCTYPE html>
<html>
<head>
  <title>Shortlink - <%= current_user.slug%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= render 'layouts/partial/favicons'%>
  <%= csrf_meta_tags %>
</head>
<body class="waitMe_body">
  <div class="container">
    <%= flash_messages %>  
  </div>

  <%= render "layouts/partial/header"%>
  <div class="container">
    <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/partial/menu"%>
    </div>
    <%= yield %>
    </div>
  </div>
  
  <% unless Rails.env.development? %>
    <%= render "layouts/partial/footer"%>
  <% end%>
<footer class="text-center">Build with <i class="fa fa-heart"></i> and <i class="fa fa-diamond"></i><a href="http://zainalmustofa.github.io"><strong> zainalmustofa</strong></a></footer>
<%= javascript_include_tag "waitMe.min" %>
</body>
</html>